#root{
    height:100%;
}
*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}
html{
    font-size: 100px;
}
@font-face{
font-family: 'iconfont';
    src:url('/iconfonts/iconfont.eot');/* IE9*/
    src:
    url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/iconfonts/iconfont.woff') format('woff'),
    url('/iconfonts/iconfont.ttf') format('truetype'),
    url('/iconfonts/iconfont.svg#iconfont') format('svg');
}
//@font-face {
//font-family: 'iconfont';
//    src: url('/iconfonts/iconfont.eot'); /* IE9*/
//    src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//    url('/iconfonts/iconfont.woff') format('woff'), /* chrome, firefox */
//    url('/iconfonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
//    url('/iconfonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
//  }